/* adjust to suit the actual display required*/
.feeddisplay { 
    max-width: calc(33.3333333vw - 40px);
}

body { /* override for a smaller screen */
    margin: 10px;
}

.crop {
    overflow: hidden;
    max-height: 18vw;
}

.imgstyle {
    margin-left: auto;
    margin-right: auto;
    display: block;
    max-width: 18vw; /* controls the resizing of the image */
    min-height: 8vw;
}


.small_crop {
    overflow: hidden;
    max-height: 18vw;
}

.medium_crop {
    overflow: hidden;
    max-height: 36vw;
}

.medium_imgstyle {
    margin-left: auto;
    margin-right: auto;
    display: block;
    max-width: 36vw; /* controls the resizing of the image */
    max-height: 36vw;
}

.small_imgstyle {
    margin-left: auto;
    margin-right: auto;
    display: block;
    max-width: 16vw; /* controls the resizing of the image */
    max-height: 16vw;
}

.large_imgstyle {
    margin-left: auto;
    margin-right: auto;
    display: block;
    max-width: 72vw; /* controls the resizing of the image */
    max-height: 72vw;
}

.large_crop {
    overflow: hidden;
    max-height: 72vw;
}

.txtstyle {
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.divtextoverimg {
    width: 100%;
    position: absolute;
    left: 9px;
    bottom: 6px;
    max-width: calc(100% - 18px); /* must have white space around the operand */
    background: linear-gradient(to bottom, rgba(0,0,0,0.0) 0%, rgba(0,0,0,0.1) 7%, rgba(0,0,0,0.3) 14%, rgba(0,0,0,0.4) 31%,rgba(0,0,0,0.4)94%,rgba(0,0,0,0.0)100%);
    text-align: center;

}

.divtextbelowimg {
    width: 100%;
    position: relative;
    max-width: 18vw; /* matches the width above*/
    /*background: linear-gradient(to bottom, rgba(0,0,0,0.0) 0%, rgba(0,0,0,0.1) 7%, rgba(0,0,0,0.3) 14%, rgba(0,0,0,0.4) 31%,rgba(0,0,0,0.4)94%,rgba(0,0,0,0.0)100%);*/
    text-align:justify;
}
.small_divtextbelowimg {
    width: 100%;
    position: relative;
    max-width: 18vw; /* matches the width above*/
    /*background: linear-gradient(to bottom, rgba(0,0,0,0.0) 0%, rgba(0,0,0,0.1) 7%, rgba(0,0,0,0.3) 14%, rgba(0,0,0,0.4) 31%,rgba(0,0,0,0.4)94%,rgba(0,0,0,0.0)100%);*/
    text-align: justify;
}
.medium_divtextbelowimg {
    width: 100%;
    position: relative;
    max-width: 36vw; /* matches the width above*/
    /*background: linear-gradient(to bottom, rgba(0,0,0,0.0) 0%, rgba(0,0,0,0.1) 7%, rgba(0,0,0,0.3) 14%, rgba(0,0,0,0.4) 31%,rgba(0,0,0,0.4)94%,rgba(0,0,0,0.0)100%);*/
    text-align: justify;
}
.large_divtextbelowimg {
    width: 100%;
    position: relative;
    max-width: 72vw; /* matches the width above*/
    /*background: linear-gradient(to bottom, rgba(0,0,0,0.0) 0%, rgba(0,0,0,0.1) 7%, rgba(0,0,0,0.3) 14%, rgba(0,0,0,0.4) 31%,rgba(0,0,0,0.4)94%,rgba(0,0,0,0.0)100%);*/
    text-align: justify;
}

/* the order these appear in here determine their precedence !!*/

.maintext {
    text-align: left;
    color: white;
}

.subtext {
    text-align: right;
    color: #a0a0a0;
}

.desctext {
    text-align: left;
    color: #bbbbbb;
}

.newarticle {
    color: yellow;
}

.altrow2 {
    filter: brightness(0.85);
}

.newaltrow2 {
    filter: brightness(0.85);
}

.altrow1 {
    filter: brightness(0.99);
}

.newaltrow1 {
    filter: brightness(0.99);
}

.twitterblue {
    color: rgb(29,161,242);
}

.instagramrainbow {
    color: #fff;
    background: #d6249f;
    background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%,#d6249f 60%,#285AEB 90%);
}

.redditred {
    color: rgb(255, 67, 0 );
}

.div_feather {
    mask-image: linear-gradient(to bottom, rgba(0,0,0,0) 0%, black 3%, black 97%, transparent 100%);
    -webkit-mask-image: -webkit-linear-gradient(top, rgba(0, 0, 0, 0) 0%, black 3%, black 97%, transparent 100%);
}

.img_feather {
    mask-image: linear-gradient(to right, rgba(0, 0, 0, 0) 0%, black 3%, black 97%, transparent 100%);
    -webkit-mask-image: -webkit-linear-gradient(left, rgba(0, 0, 0, 0) 0%, black 3%, black 97%, transparent 100%);
}

/* some extra sizes for the font*/

.smallish {
    font-size:24px;
    line-height:28px;
}

/* added to support iframes */

.wrap {
    width: 320px;
    height: 192px;
    padding: 0;
    overflow: hidden;
}

.frame {
    width: 1280px;
    height: 786px;
    border: 0;
    -ms-transform: scale(0.25);
    -moz-transform: scale(0.25);
    -o-transform: scale(0.25);
    -webkit-transform: scale(0.25);
    transform: scale(0.25);
    -ms-transform-origin: 0 0;
    -moz-transform-origin: 0 0;
    -o-transform-origin: 0 0;
    -webkit-transform-origin: 0 0;
    transform-origin: 0 0;
}
